settings:
  title: 'Status Page'
  url: 'https://status-page.eidam.dev' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: manage-mimirtech-co # unique identifier
    name: manage.mimirtech.co
    description: 'Mimir Tech Customers Portal.' # default=empty
    url: 'https://manage.mimirtech.co/' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false

  - id: www-mimirtech-co
    name: www.mimirtech.co
    description: 'Mimir Tech Website.'
    url: 'https://www.mimirtech.co'
    method: GET
    expectStatus: 200

  - id: docs-mimirtech-co
    name: docs.mimirtech.co
    description: 'Mimir Tech Documentation'
    url: 'https://docs.mimirtech.co/'
    method: GET
    expectStatus: 200
